<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{Title}}</mat-card-title>
      <mat-card-subtitle>{{Subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="imageSrc" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
       {{Description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>{{Action1}}</button>
      <button mat-button>{{Action2}}</button>
    </mat-card-actions>
  </mat-card>
  