<form ><mat-form-field *ngIf="Type === 'basic'"  class="example-full-width" appearance="fill">
  <mat-label>Autocomplete</mat-label>
  <input type="text"
  [required]="false"
         placeholder="Pick one"
         aria-label="Number"
         matInput
         [formControl]="basic"
         [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [autoActiveFirstOption]="autoActiveFirstOption">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
  



  <mat-form-field *ngIf="Type === 'detailed'" class="example-full-width" appearance="fill" >
    <mat-label>State</mat-label>
    <input matInput [required]="false"
    type="text"
           aria-label="State"
           [matAutocomplete]="auto"
           [formControl]="stateCtrl">
    <mat-autocomplete #auto="matAutocomplete" [autoActiveFirstOption]="autoActiveFirstOption">
      <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
        <img [alt]="stat.flag" class="example-option-img" aria-hidden [src]="state.flag" height="25">
        <span>{{state.name}}</span> |
        <small>Population: {{state.population}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>