<div *ngIf="selectionList === false">
  <mat-list role="list">
    <div mat-subheader *ngIf="showHeader">{{ headerLabel }}</div>
    <mat-list-item role="listitem" *ngFor="let item of groceryList">
      <img
        matListAvatar
        *ngIf="showAvatar"
        src="https://media.istockphoto.com/vectors/thumbnail-image-vector-graphic-vector-id1147544807?k=20&m=1147544807&s=612x612&w=0&h=pBhz1dkwsCMq37Udtp9sfxbjaMl27JUapoyYpQm0anc="
        alt="..."
      />
      <mat-icon *ngIf="!showAvatar" mat-list-icon>restaurant</mat-icon>
      <h3 matLine>{{ item }}</h3>
      <h3 matLine>Line 2</h3>
    </mat-list-item>
  </mat-list>
</div>

<div *ngIf="selectionList && selectionMultiple">
  <mat-selection-list>
    <div mat-subheader *ngIf="showHeader">{{ headerLabel }}</div>
    <mat-list-option *ngFor="let item of groceryList">
      <img
        matListAvatar
        *ngIf="showAvatar"
        src="https://media.istockphoto.com/vectors/thumbnail-image-vector-graphic-vector-id1147544807?k=20&m=1147544807&s=612x612&w=0&h=pBhz1dkwsCMq37Udtp9sfxbjaMl27JUapoyYpQm0anc="
        alt="..."
      />
      <mat-icon *ngIf="!showAvatar" mat-list-icon>restaurant</mat-icon>
      <h3 matLine>{{ item }}</h3>
    </mat-list-option>
  </mat-selection-list>
</div>
<div *ngIf="selectionList && !selectionMultiple">
  <mat-selection-list [multiple]="false">
    <div mat-subheader *ngIf="showHeader">{{ headerLabel }}</div>
    <mat-list-option *ngFor="let item of groceryList">
      <img
        matListAvatar
        *ngIf="showAvatar"
        src="https://media.istockphoto.com/vectors/thumbnail-image-vector-graphic-vector-id1147544807?k=20&m=1147544807&s=612x612&w=0&h=pBhz1dkwsCMq37Udtp9sfxbjaMl27JUapoyYpQm0anc="
        alt="..."
      />
      <mat-icon *ngIf="!showAvatar" mat-list-icon>restaurant</mat-icon>
      <h3 matLine>{{ item }}</h3>
    </mat-list-option>
  </mat-selection-list>
</div>
