/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body { height: 100%; }

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat.core();
body { margin: 0; }
$oc-blue: (
  50: #e6eef3,
  100: #c0d5e2,
  200: #97b9cf,
  300: #6d9cbc,
  400: #4d87ad,
  500: #2e729f,
  600: #296a97,
  700: #235f8d,
  800: #1d5583,
  900: #124272,
  A100: #a7d0ff,
  A200: #74b4ff,
  A400: #4199ff,
  A700: #288bff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #a24e4e,
    A200: #913434,
    A400: #000000,
    A700: #ffffff,
  ),
);

$primary-blue: map-get($oc-blue, 500 );

$oc-teal: (
  50: #e9f7f6,
  100: #c9ece8,
  200: #a5e0d9,
  300: #80d3c9,
  400: #65c9be,
  500: #4ac0b2,
  600: #43baab,
  700: #3ab2a2,
  800: #32aa99,
  900: #229c8a,
  A100: #d9fff9,
  A200: #a6fff0,
  A400: #73ffe8,
  A700: #59ffe4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$my-primary: mat.define-palette($oc-blue, 500);
$my-accent: mat.define-palette($oc-teal, 900);

// The "warn" palette is optional and defaults to red if not specified.

$oc-typography: mat.define-typography-config(
    $font-family: "'Inter', 'Helvetica Neue', sans-serif",
  );
$oc-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,

    )
  )
);



@include mat.all-component-themes($oc-theme);

@include mat.all-component-typographies($oc-typography);

//Button Overrides 

.mat-button-base {
  &  .mat-icon {
    height: 18px;
    width: 18px;
    font-size: 18px;

  }

  & span.mat-button-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}


