@use '@angular/material' as mat;
@use '@onecause/ngcommon/assets/' as ngcommon;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import 'https://fonts.googleapis.com/icon?family=Material+Icons+Round';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


@include mat.core();

// Define Typography Levels

$fontConfig: (
  display-4:
    mat.define-typography-level(
      112px,
      112px,
      300,
      'Inter'
      -0.0134em
    ),
  display-3:
    mat.define-typography-level(
      56px,
      56px,
      400,
      'Inter'
      -0.0089em
    ),
  display-2:
    mat.define-typography-level(45px, 48px, 400, 'Inter', 0em),
  display-1:
    mat.define-typography-level(34px, 40px, 400, 'Inter', 0.0074em),
  headline:
    mat.define-typography-level(32px, 40px, 600, 'Inter', 0em),
  title:
    mat.define-typography-level(22px, 28px, 700, 'Inter', 0.0075em),
  subheading-2:
    mat.define-typography-level(16px, 24px, 500, 'Inter', 0),
  subheading-1:
    mat.define-typography-level(14px, 20px, 500, 'Inter', 0),
  body-2:
    mat.define-typography-level(16px, 24px, 400, 'Inter', 0.0179em),
  body-1: mat.define-typography-level(14px, 20px, 400, 'Inter', 0),
  button: mat.define-typography-level(14px, 20px, 500, 'Inter', 0),
  caption:
    mat.define-typography-level(12px, 20px, 400, 'Inter', 0.0333em),
  input:
    mat.define-typography-level(16px, 24px, 400, 'Inter', 0),
);

// Define Light Theme Text

$dark-text: #000;

$dark-disabled-text: rgba($dark-text, 0.38);


$mat-light-theme-foreground: (
  base: $dark-text,
  divider: ngcommon.$color-gray-light,
  dividers: ngcommon.$color-gray-light,
  disabled: ngcommon.$color-ink-disabled,
  disabled-button: rgba($dark-text, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: $dark-text,
  secondary-text: ngcommon.$color-ink-disabled,
  hint-text: ngcommon.$color-ink-secondary,
  accent-text: ngcommon.$color-ink-disabled,
  icon: ngcommon.$color-ink-disabled,
  icons: ngcommon.$color-ink-disabled,
  text: ngcommon.$color-ink-normal,
  slider-min: ngcommon.$color-ink-normal,
  slider-off: rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Define Theme Palettes

$default-theme-primary: mat.define-palette(ngcommon.$color-blue-palette, 900);
$default-theme-accent: mat.define-palette(ngcommon.$color-yellow-palette);
$default-theme-warn: mat.define-palette(ngcommon.$color-red-palette);

$custom-typography: mat.define-typography-config($fontConfig);

$default-theme: mat.define-light-theme(
  (
    color: (
      primary: $default-theme-primary,
      accent: $default-theme-accent,
      warn: $default-theme-warn,
    ),
  )
);

// Apply Theme and Typography

@include mat.all-component-themes($default-theme);
@include mat.core($fontConfig);

     

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons Round', 'Material Icons';  
  .mat-badge-content {
    font-family: 'Inter';
  }
}

// Mat Button Toggle Overrides
.mat-button-toggle {
  font-family: 'Inter';
  
}

.oc.mat-button-toggle-group {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 40px;
}

.oc.mat-button-toggle-group .mat-button-toggle {
  height: 40px;
}

.oc.mat-button-toggle-group .mat-button-toggle-appearance-standard
  .mat-button-toggle-label-content {
  line-height: 40px;
}
.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
  background-color: mat.get-color-from-palette($default-theme-primary, 50);
  color: mat.get-color-from-palette($default-theme-primary, 900);
}



.mat-menu-item {
  line-height: 24px !important;
}

.mat-icon {
  display: inherit !important;
}

.mat-raised-button.mat-button-base:focus {
  box-shadow: 0px 0px 8px #40b3ff, 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}
